body, html {
    margin:0px;
    padding:0px;
}


.top-bar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:orange;
    padding:0px 3px 0px 30px;
}

.sidebar {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:10px;
}